@import "../../.cache/wal/colors-waybar.css";

* {
  font-family: "UbuntuMono Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: @background;
  color: #ffffff;
}

.modules-left {
  background-color: @foregorund;
  padding: 0px 0px 0px 0px;
}

.modules-right {
  background-color: @background;
  padding: 0px 0px 0px 0px;
}

#custom-scratch {
  /* background-color: @color3; */
  background-color: #ae3433;
  color: #ffffff;
  padding: 0px 11px 0px 11px;
}

#workspaces {
}

button {
  border: none;
  border-radius: 0%;
}

#workspaces button {
  padding: 0px 11px 0px 11px;
  /* min-width: 1px; */
  color: #ffffff;
}

#workspaces button.focused {
  padding: 0px 11px 0px 11px;
  background-color: @color5;
  color: #ffffff;
}

#mode {
  background-color: @color3;
  color: #ffffff;
  padding: 0px 5px 0px 5px;
  border: 1px solid #2f343a;
}

#window {
  color: #ffffff;
  background-color: @background;
  padding: 0px 10px 0px 10px;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}

window#waybar.empty {
  background-color: @background;
}

#network,
#temperature,
#backlight,
#pulseudio,
#battery {
  padding: 0px 5px;
}

#clock {
  margin: 0px 0px 0px 0px;
}

#tray {
  padding: 0px 5px 0px 5px;
  margin: 0px 5px 0px 5px;
}

#battery.critical {
  color: #ae3433;
}

#network.disconnected {
  color: #ae3433;
}
